body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}
.login-container {
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px gray;
    border-radius: 5px;
    width: 30%;
    justify-content: center;
    align-items: center;
}
input {

    width: 90%;
    padding: 10px;
    margin: 10px 0;
}
button {
    width: 60%;
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}
.error {
    color: red;
    font-size: 0.9em;
}